
.search-container {
    background-color: aqua;
    text-align: center;
    padding: 1rem;
}

#pokemonImage {
    max-width: 95%;
    min-width: 95%;
    height: auto;
    border: solid black 3px;
    background-image: url(/assets/fondo-pokedex.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#pokemonEvolutions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    border: solid black 3px;
}

.evolution-container {
    text-align: center;
}

.evolution-container img {
    max-width: 100%;
    height: auto;
}

.evolution-container p {
    text-align: center;
    margin: 0.5rem;
}

.card-body {
    display: flex;
    align-items: center;
    padding: 1rem; 
}

.pokemon-info, #pokemonDescription {
    border: solid black 3px;
    flex: 1; 
    color: #FCF9EC
}

#pokemonNumber, #pokemonName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 1rem; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card .btn-primary {
    position: absolute;
    top: 5px;
    right: 5px;
  }

.team-list{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 55%;
    min-width: 50%;
    border: solid #FCF9EC 3px;
    background-color: crimson;
}
.text-white{
    margin-right: 20px;
}

li{
    list-style: none;
}
.pokemon-sprite{
    width: 65px;
    height: 65px;
    max-width: 200px;
    max-height: 200px;
    margin-top: 15px;
}

.btn-danger {
    width: 100px;
    height: 30px;
    margin: 0;
}

.btn-borrar{
    display: flex;
    justify-content: center;
    align-items: center;    
  }