/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); 

body {
  font-family: 'Roboto', sans-serif;
  background-color: #83B2B2;
  margin: 0;
  padding: 0;
  height: 100vh;
}

nav {
  background-color: #6a9292;
  padding: 10px 0;
  display: flex;
}
      
nav img {
    height: 80px;
    margin-top: 20px;
    margin-left: 40px;
    }
      
nav ul {
  list-style: none;
  margin-top: 40px;
  margin-left: 60px;
  padding: 0;
  display: flex;
  justify-content: center;
    }
      
li {
  margin: 0 20px;
    }
      
nav a {
  color: #333;
  text-decoration: none;
  font-size: 20px;
    }
     
nav a:hover {
    color: #f8f1f1;
  } 

nav ul li:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.card {
    width: 735px;
    background-color: #EF4458;
    border-radius: 30px;
    border: 3px solid rgb(14, 13, 13);
    z-index: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  
@keyframes SlowFloat {
  0% { transform: translateY(0);}
  100% { transform: translateY(-10px);}
}


  .top-container {
    overflow: hidden;
    display: flex; 
    align-items: start; 
    justify-content: left; 
    margin-left: 25px;
    margin-top: 10px;
  }
  
  .top-container{
    width: 100%;
    margin-top: 20px;
    margin-left: 35px;
    padding: 10px;
  }

  .image-container{
    margin-top: 20px;
    width: 210px;
    height: 210px;
    border: 3px solid black;
    border-radius: 40px;
    background-color: #1180C0;
  }

 .image-container img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
    opacity: 1;
    animation: SlowFloat 1.5s infinite alternate;
    transition: opacity 0.5s ease-in-out;
  }
  
  .info-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px ;
  }

  .first-data, .second-data{
    display: flex;
  }
  
  .height, .weight, .type{
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
    border: 3px solid black;
    background-color: #1180C0;
  }
  .name, .number{
    margin-right: 30px;
    padding: 5px;
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid black;
    background-color: #1180C0;
  }
  
   .description{
    text-align: center;
    width: 65%;
    padding: 10px;
    font-size: 15px;
    border: 3px solid black;
    background-color: #1180C0;
  }

  
  #button-container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  
footer {
    background-color: #2532eb;
    color: #fff;
    padding: 20px;
    text-align: center;
    }
      
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    }
      
footer ul li {
    margin: 0 10px;
    }

footer a img{
    height: 35px;
    align-items: center;
    justify-content: center;
}
 footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    }
        
@media only screen and (max-width: 768px) {
nav {
      position: relative;
    }
ul {
      flex-direction: column;
    }
li {
      border: none;
      border-bottom: 2px solid red;
    }
a {
      padding: 10px 0;
    }
}
  